body {
  background-color: white;
}
.navbar {
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: rgb(114, 112, 112);
  border-bottom-width: 1px;
  margin: 0px;
}
.navbar .navtab {
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(223, 221, 221);
  padding: 5px;
  margin: 2px;
}
.navbar .navtab:hover {
  background-color: rgb(48, 46, 46);
}
.navbar a {
}

.navbar a:hover {
}
